<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestRequest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestSerlvetOne</display-name>
    <servlet-name>TestSerlvetOne</servlet-name>
    <servlet-class>demo.TestSerlvetOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSerlvetOne</servlet-name>
    <url-pattern>/TestSerlvetOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletTwo</display-name>
    <servlet-name>TestServletTwo</servlet-name>
    <servlet-class>demo.TestServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletTwo</servlet-name>
    <url-pattern>/TestServletTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletThree</display-name>
    <servlet-name>TestServletThree</servlet-name>
    <servlet-class>demo.TestServletThree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletThree</servlet-name>
    <url-pattern>/TestServletThree</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TestFilter</display-name>
    <filter-name>TestFilter</filter-name>
    <filter-class>demo.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <url-pattern>/TestFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <servlet-name>TestSerlvetOne</servlet-name>
  </filter-mapping>
</web-app>